*{
       margin: 0%;
       padding: 0%;
}

body{
       font-size: 12px;
       font-family: 'Times New Roman', Times, serif;
       background-color: grey;
}

.container{
       margin: 200px;
       background-color: white;
       padding: 1%;
       border-radius: 10px;
       border-color: black;
}

.container-01{
       margin-top: 5%;
       margin-left: 5%;

}
